<html>

<head>
  <title>Resume</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto|Patua One|Lato|Raleway:400,500" rel="stylesheet"
    type="text/css">


  <!-- our scripts -->
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/print.css" media="print">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="section heading">
          <span class="name">
            <span class="grey">{{ contact.first_name }}</span> {{ contact.last_name }}
          </span>
          <br>
          <span class="myskills">
            Software Engineer
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="sidebar">

          <div class="contact section">
            <h4>contact</h4>


            {% if contact.mobile_number %}
            <div class="number text-muted">
              + {{ contact.mobile_number }}
            </div>
            {% endif %}

            {% if contact.email_address %}
            <div class="email text-muted"><img src="/static/img/email-orange.png" alt=""> {{ contact.email_address }}
            </div>
            {% endif %}

            {% if contact.skype_username %}
            <div class="social text-muted"><img src="/static/img/skype.png" alt="">{{ contact.skype_username }}</div>
            {% endif %}

            {% if contact.github_username %}
            <div class="social text-muted"><img src="/static/img/github.png" alt=""><a
                href="https://github.com/{{ contact.github_username }}/">{{ contact.github_username }}</a></div>
            {% endif %}

            {% if contact.twitter_username %}
            <div class="social text-muted twitter"><img src="/static/img/twitter.png" alt=""><a
                href="https://twitter.com/{{ contact.twitter_username }}">{{ contact.twitter_username }}</a></div>
            {% endif %}

            {% if contact.linked_in_username %}
            <div class="social text-muted"><img src="/static/img/linkedin.png" alt=""><a
                href="{{ contact.linked_in_url }}">{{ contact.linked_in_username }}</a></div>
            {% endif %}
          </div>

          <div class="languages section">
            <h4>languages</h4>
            <p>English (primary)</p>
            <p>Spanish (basic)</p>
          </div>

          <div class="programming section">
            <h4>programming</h4>

            <ul class="unstyled text-muted">
              <li><img src="/static/img/python.png" alt="" class="small">Python (Django, Celery, ScikitLearn)</li>
              <li><img src="/static/img/php.png" alt="" class="med">PHP (Wordpress, Drupal, Symfony)</li>
              <li><img src="/static/img/ruby.png" alt="" class="small">Ruby (Chef)</li>
              <li><img src="/static/img/database.png" alt="" class="small">PostgreSQL, MySQL, Redis, Mongo</li>
              <li><img src="/static/img/browser.png" alt="" class="small">HTML (Bootstrap)</li>
              <li><img src="/static/img/javascript.png" class="med" alt="">Javascript (AngularJS, Knockout, jQuery,
                Google Maps)</li>
              <li><img src="/static/img/mobile.png" alt="" class="small">Android</li>
              <li><img src="/static/img/microsoft.png" alt="" class="small">.NET (C#)</li>
              <li><img src="/static/img/terminal.png" alt="" class="small">Bash scripting</li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <div class="experience section">
          <h4><span class="pink">exp</span>erience</h4>

          {% for employment in employments %}
          <div class="work-experience">
            <div class="dates-and-company">
              <span class="dates">
                <i class="fa fa-calendar"></i>
                {% if employment.end_date %}
                {{ employment.start_date.strftime('%b %Y') }} - {{ employment.end_date.strftime('%b %Y') }}
                {% else %}
                {{ employment.start_date.strftime('%b %Y') }} - NOW
                {% endif %}
              </span>
              <span class="company">{{ employment.title }}, {{ employment.company.name }}</span>
            </div>

            {% if employment.projects %}
            <div class="projects">
              {% for project in employment.projects %}
              <ul class="unstyled">
                <li class="project">
                  <p class="project-description">
                    <span class="project-title">{{ project.name }} - </span>
                    {{ project.summary }}
                  </p>
                  <p class="technologies-used">
                    {% for technology in project.technologies %}
                    {% if technology.icon_url %}
                    <img src="{{ technology.icon_url }}" class="small">
                    {% endif %}
                    {{ technology.name }}
                    {% endfor %}

                    {% for framework_and_technology in project.frameworks_by_technology %}
                    {% with technology = framework_and_technology.technology, frameworks = framework_and_technology.frameworks  %}
                    {% if technology.icon_url %}
                    <img src="{{ technology.icon_url }}" class="small">
                    {% endif %}
                    {{ frameworks }}
                    {% endwith %}
                    {% endfor %}
                  </p>
                </li>
              </ul>

              {% endfor %}
            </div>

            {% endif %}

          </div>
          {% endfor %}

        </div>

        <div class="education section">
          <h4>edu<span class="orange">cation</span></h4>
          <ul class="unstyled">
            <li>
              <span class="dates">2011 - 2013</span>
              MSc in Computer Science (Distinction), University of the West Indies
            </li>
            <li>
              <span class="dates">2004 - 2007</span>
              BSc in Computer Science, University of the West Indies
            </li>
          </ul>
        </div>

        <div class="side-projects section">
          <h4><span class="pink">side</span> projects</h4>

          <ul class="unstyled">

            <li class="project">
              <p class="project-description">
                <span class="project-title">What You Spend - </span>a web-based app to track spending and budgets.
              </p>
              <p class="technologies-used">
                <img src="/static/img/python.png" class="tiny">Celery, Django
                <img src="/static/img/database.png" class="tiny">PostgreSQL
                <img src="/static/img/browser.png" class="tiny">Bootstrap
                <img src="/static/img/javascript.png" class="med">ChartJS, jQuery
              </p>
            </li>

          </ul>
        </div>

        <div class="online section">
          <h4><span class="aqua">on</span>line</h4>
          <ul class="unstyled">
            <li>
              <img src="/static/img/skype.png" class="med">Skype: jaywhy13
            </li>
            <li>
              <img src="/static/img/github.png" class="med">Github: <a href="https://github.com/jaywhy13">jaywhy13</a>
            </li>
            <li>
              <img src="/static/img/twitter.png" class="large twitter">Twitter: <a
                href="https://twitter.com/kramnaej">kramnaej</a>
            </li>
            <li>
              <img src="/static/img/pinterest.png" class="med">Pinterest: <a href="https://www.pinterest.com/jaywhy13/">
                jaywhy13</a>
            </li>
            <li>
              <img src="/static/img/stackoverflow.png" class="med">StackOverflow: <a
                href="http://stackoverflow.com/users/1267625/jaywhy13">jaywhy13</a>
            </li>
            <li>
              <img src="/static/img/linkedin.png" class="med">LinkedIn:
              <a
                href="https://jm.linkedin.com/in/jean-mark-wright-59858770">https://jm.linkedin.com/in/jean-mark-wright-59858770</a>
            </li>
            <li>
              <img src="/static/img/wordpress.png" class="med">Blog: <a
                href="http://perspectiveunspoken.com/">http://perspectiveunspoken.com/</a>
            </li>
          </ul>
        </div>

        <div class="interests section">
          <h4><span class="green">int</span>erests</h4>

          <span>
            <b>professional</b> AI (Machine Learning, Deep Learning). <b>personal</b> music (keyboard, guitar, choirs),
            writing, speaking.
          </span>
        </div>


      </div>
    </div>
  </div>
</body>

</html>
